.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #fff;
}

.logoCont {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  object-fit: contain;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
