.detailsContainer {
  padding: 1rem;
  padding-block: 4rem 5rem;
  overflow-y: scroll;
}

.detailcard {
  position: relative;
}

.detailsImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.detailsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem 1rem;
}

.detailedAddress {
  > h1 {
    font-size: 1.5rem;
    color: #252b5c;
    font-weight: 500;
  }
  .pinAddress {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 3px;

    > p {
      font-size: 0.8rem;
      font-weight: 300;
      color: #888;
    }
  }
}

.prices {
  text-align: right;
  > h1 {
    font-size: 1.8rem;
    color: #252b5c;
    font-weight: 600;
  }
  > p {
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
    color: #888;
  }
}

.location {
  > h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #252b5c;
  }

  .fullAddress {
    display: flex;
    align-items: center;
    margin-block: 1rem;

    > span {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: #ff75047d;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > p {
      margin-left: 0.8rem;
      font-size: 0.8rem;
      color: #53587a;
    }
  }
}

.googleMap {
  margin-block: 1rem;
  border-radius: 10px;
  overflow: hidden;

  > p {
    background-color: #ff750442;
    text-align: center;
    color: #ff7504;
    font-size: 0.9rem;
    padding-block: 0.2rem;
    font-weight: 500;
  }
}

.ameneties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  > p {
    background-color: #f5f4f8;
    padding-inline: 1.5rem;
    border-radius: 2rem;
    padding-block: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1f4c6b;
  }
}

.moreAmeneties {
  margin-block: 1.5rem;
  > h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #252b5c;
  }
  .types {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;

    > p {
      padding-inline: 2rem;
      padding-block: 0.5rem;
      color: #252b5c;
      background-color: #f5f4f8;
      border-radius: 2rem;
      font-size: 0.8rem;
    }
    .selected {
      background-color: #234f68;
      color: #fff;
    }
  }
}
